{% extends 'base.html' %}
{% block content %}
    {% load socialaccount %}
    {% providers_media_js %}
    {% if user.is_authenticated %}
        {% for account in user.socialaccount_set.all %}
            <p>email: {{ account.extra_data.email }}</p>
            <p>name: {{ account.extra_data.name }}</p>
        {% endfor %}
        <a href="/google-login/logout" role="button" class="btn btn-primary">로그아웃</a>
        <a href="/excel/" role="button" class="btn btn-success">엑셀 업로드</a>
    {% else %}
        <a href="{% provider_login_url 'google' method='oauth2' %}" role="button" class="btn btn-secondary">구글 로그인</a><br>
    {% endif %}
{% endblock %}