{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main" class="alt">
        <!--One-->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1 class="myptitle">
                        My Page
                    </h1>
                </header>
                {% if profile is None %}
                    <h3>Upload Excel Before Using This Page</h3>
                {% else %}
                    <!-- Content -->
                    <hr class="major"/>
                    <div class="field">
                        <!-- user info -->
                        <ul>
                            <li>
                                <span class="left">Name : </span>
                                <span class="right">{{ profile.user.first_name }}</span>
                            </li>
                            <li>
                                <span class="left"> Student Number : </span>
                                <span class="right">{{ profile.student_number }}</span>
                            </li>
                            <li>
                                <span class="left">Course : </span>
                                <span class="right">{{ profile.degree }}</span>
                            </li>
                        </ul>
                    </div>
                    <input type="checkbox" id="include_undergrad"
                            {% if profile.include_undergrad %}
                           checked
                            {% endif %}
                    >
                    <label for="include_undergrad">include undergraduate subjects</label>

                    <input type="checkbox" id="share_yn"
                            {% if profile.share_timetable %}
                           checked
                            {% endif %}
                    >
                    <label for="share_yn">Do you want to share your timetable?</label>
                    <hr class="major"/>
                    <br>
                    <div class="mycontainer">

                        <p class="table_title">
                            This is your academic completion status as of the <span class="bolds">year 2022</span>.
                            <span class="bolds">(This information is basic information based on the completion standards. For detailed completion requirements, please contact each department office.)</span>
                        </p>


                        <div class="myp_summarys">
                            <div class="myp_in">
                                <div class="myp_summary mp0">
                                    <h3 class="i_title ">
                                        <span>Earned Credit information</span> (Current Simulation Date : {{ profile.updated_at | date:"Y/m/d" }})
                                    </h3>
                                    <div class="charttp2div">

                                        <div style="text-align: center; margin-bottom: 10px;"></div>
                                        <caption>
                                            <span>Passed Conditions</span>
                                        </caption>
                                        <div class="table_type_b myp_surmmary_tbl stdcmplcond ">
                                            <div class="in">
                                                <table class="myp_desc mart10">

                                                    <thead id="passedCondition">
                                                    {% for i in profile.passed %}
                                                    {% endfor %}
                                                    </thead>
                                                    <tbody id="passedYn">
                                                    {% for i in profile.passed %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        {#                                        <hr class="major"/>#}
                                        {#                                        <h3 class="i_title ">#}
                                        {#                                            <span>Graduation Requirement Simulation</span> by Major#}
                                        {#                                        </h3>#}
                                        {#                                        <div class="table_type_b myp_surmmary_tbl stdcmplcond ">#}
                                        {#                                            <div class="in">#}
                                        {#                                                <table>#}
                                        {#                                                    <caption>#}
                                        {#                                                        <span>Graduation Requirement Simulation</span> by Major#}
                                        {#                                                    </caption>#}
                                        {#                                                    <tbody>#}
                                        {#                                                    <tr>#}
                                        {#                                                        <th scope="col" rowspan="2">Major Category</th>#}
                                        {#                                                        <th scope="col" rowspan="2">Major Name</th>#}
                                        {#                                                        <th scope="col" colspan="2">Major Required Courses Acquired Credits</th>#}
                                        {#                                                        <th scope="col" colspan="2">Major Elective Courses Credit Acquisition</th>#}
                                        {#                                                        <th scope="col" rowspan="2">Acquired Credits Total</th>#}
                                        {#                                                        <th scope="col" rowspan="2">Total GPA</th>#}
                                        {#                                                        <th scope="col" rowspan="2">GPA</th>#}
                                        {#                                                        <th scope="col" rowspan="2">Result</th>#}
                                        {#                                                    </tr>#}
                                        {#                                                    <tr>#}
                                        {#                                                        <th scope="col">Standard Credit</th>#}
                                        {#                                                        <th scope="col">Completed Crdts.(+Recognized Crdts.)</th>#}
                                        {#                                                        <th scope="col">Standard Credit</th>#}
                                        {#                                                        <th scope="col">Completed Crdts.(+Recognized Crdts.)</th>#}
                                        {#                                                    </tr>#}
                                        {#                                                    <tr>#}
                                        {#                                                        <td>Major</td>#}
                                        {#                                                        <td class="tal">Data Science Major</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td>0</td>#}
                                        {#                                                        <td style="background-color:#fb000017;color:#f37060;">Fail</td>#}
                                        {#                                                    </tr>#}
                                        {#                                                    </tbody>#}
                                        {#                                                </table>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </section>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function decodeHTMLEntities(text) {
            const entities = [
                ['amp', '&'],
                ['apos', '\''],
                ['#x27', '\''],
                ['#x2F', '/'],
                ['#39', '\''],
                ['#47', '/'],
                ['lt', '<'],
                ['gt', '>'],
                ['nbsp', ' '],
                ['quot', '"']
            ];

            let i = 0;
            const max = entities.length;
            for (; i < max; ++i)
                text = text.replace(new RegExp('&' + entities[i][0] + ';', 'g'), entities[i][1]);
            text = text.replace(/True/gi, 'true')
            text = text.replace(/False/gi, 'false')
            text = text.replace(/'/gi, '"')
            return text;
        }


        let data = JSON.parse(decodeHTMLEntities('{{ profile.passed }}'))
        let header = '<tr>'
        let body = '<tr>'

        for (const i in data) {
            header += '<th>' + i + '</th>'
            if (data[i] === true) {
                body += '<td style="background-color:#00fb0017;color:#60f370;">' + 'Passed' + '</td>'
            } else if (data[i] === false) {
                body += '<td style="background-color:#fb000017;color:#f37060;">' + 'Failed' + '</td>'
            } else {
                if (data['수료 학점 검사'])
                    body += '<td style="background-color:#00fb0017;color:#60f370;">' + data[i] + '</td>'
                else
                    body += '<td style="background-color:#fb000017;color:#f37060;">' + data[i] + '</td>'
            }
        }
        header += '</tr>'
        body += '</tr>'
        $(header).appendTo($('#passedCondition'))
        $(body).appendTo($('#passedYn'))

        $('#include_undergrad').change(function () {
            let param = {'include_undergrad': $('#include_undergrad').is(':checked')}

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url: '/common/inclugrd/',
                dataType: 'json',
                type: 'POST',
                data: JSON.stringify(param),
                success: function (data) {

                }
            });
        });

        $('#share_yn').change(function () {
            let param = {'share_yn': $('#share_yn').is(':checked')}

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url: '/common/shreyn/',
                dataType: 'json',
                type: 'POST',
                data: JSON.stringify(param),
                success: function (data) {

                }
            });
        });

    </script>
{% endblock %}