{% extends 'base.html' %}
{% block content %}
    <style>
        #out {
            position: relative;
            color: #f37060;
            font-size: 5vh;
            font-weight: 900;
            text-align: center;
        }

        #in {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div id="out">
        <div id="in">
            404 Error
            <br/>
            No Page Found!
        </div>
    </div>
{% endblock %}